* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: #8cc461;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.score-panel {
  display: flex;
  border-radius: 0.8125rem;
  border: 2px solid #fff;
  padding: 1rem;
  margin: 1rem;
}

.header {
  color: #fff;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.1rem;
  margin-top: 3px;
  margin-right: auto;
}

.score {
  border-radius: 8px;
  background: #fff;
  text-align: center;
  width: 5.6rem;
  margin: 0.2rem;
  padding: 0.3rem;
}

.score-title {
  color: #656565;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.1rem;
}

.score-number {
  color: #252525;
  text-align: center;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.player-choice {
  display: flex;
  justify-content: center;
}

.hands {
  position: relative;
  width: 320px;
  display: flex;
  z-index: 0;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.hands img {
  width: 100px;
  height: 100px;
  display: block;
}

.hands .paper {
  margin-right: 20px;
}

.hands .scissors {
  margin-left: 20px;
}

.hands .hand {
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.25s;
}

.hands .hand:hover {
  transform: translate3d(0px, -8px, 0px);
}

.game-rules-popup {
  border-radius: 8px;
  display: none;
  position: absolute;
  right: -2.5rem;
  top: 26rem;
  transform: translate(-50%, -50%);
  background-color: #004429;
  width: 300px;
  padding: 1rem;
  color: white;
  z-index: 1000;
  border: 4px solid white;
}

.game-rules {
  margin-bottom: 20px;
}

.game-rules ul li::before {
  content: "\25A0";
  color: yellow;
  margin-right: 5px;
}

.game-rules > h2 {
  text-align: center;
}

.game-rules > ul {
  list-style: none;
  padding: 0;
}

.game-rules > ul > li {
  margin-bottom: 10px;
}

.close-button {
  position: relative;
  top: -358px;
  right: -256px;
  background-color: #0c0c0d;
  border: 4px solid white;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding-left: 10px;
  font-size: 30px;
  background-color: red;
}

.lower-panel {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin: 1rem;
  margin-top: auto;
}

button {
  border-radius: 8px;
  border: 1.9px solid #fff;
  background: rgba(217, 217, 217, 0);
  color: #fff;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 3.5px 12px;
}

button:hover {
  background: #fff;
  color: hsl(214, 47%, 23%);
}
/* -------------------------- */

.hand-overlay {
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 1.5s ease-in-out;
}

.hand-overlay > img {
  width: 100px;
  height: 100px;
}

.hand-overlay.left {
  left: 0;
}

.hand-overlay.right {
  right: 0;
}

.hand-overlay.show {
  opacity: 1;
}

@media (min-width: 900px) {
  .main-container {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

@media (min-width: 1200px) {
  .main-container {
    padding-right: 8rem;
    padding-left: 8rem;
  }
}

.line {
  width: 15px;
  background: rgba(0, 0, 0, 0.64);
}

#line1 {
  position: relative;
  left: 135px;
  -webkit-transform: rotate(90deg);
  z-index: -1;
}

#line2 {
  position: relative;
  top: 50px;
  left: -55px;
  -webkit-transform: rotate(150deg);
  z-index: -1;
}

#line3 {
  position: relative;
  top: 50px;
  left: -80px;
  -webkit-transform: rotate(210deg);
  z-index: -1;
}
